/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#footerpadding {
    padding-top: 0;
    padding-bottom: 0;
}

#footimg{
    padding-top: 10px;
}