{% load static %}
<style>
	.logo{
		width: 85px;
    	height: 80px;
		border-radius: 50%;
   		margin-right: 15px;
    	float: left;
}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Academics - Home</title>
	  
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	  
		<!-- Stylesheet  -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/old.css' %}">
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/icon_fonts/css/all_icons.min.css' %}" rel="stylesheet">
		

		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

		
		
	
		<!-- YOUR CUSTOM CSS -->
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">

	  
		<script src="https://use.fontawesome.com/79c901e0f1.js"></script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11097556-8']);
			_gaq.push(['_trackPageview']);
	
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="container">
                <a href="/dashboard">
                    <img class=logo src=/static/img/de9eb637d1dac9a77a7f3822ed57ce07.gif>
                    <h1>Acad-Emics</h1>
                </a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="mobile-troggle">
                        <i class="fas fa-bars"></i>
                    </div>
                    <div class="nav">
                        <ul>
                            <li><a href="/mycourses">My Course</a></li>
                            <li><a href="/routine">My Routine</a></li>
                            <li><a href="/result">My Results</a></li>
                        </ul>
                    </div>
                    <div class="adminbar">
                        <ul>
                            <li><a href="/notification"><i class="fas fa-bell"></i></a></li>
                            <li><a href="/support"><i class="fas fa-headphones"></i></a></li>
                            <li><a href=""><i class="fas fa-user-circle"></i><i class="fas fa-chevron-down"></i></a>
                                <ul>
                                    <li><a href="/accounts/profile">Profile</a></li>
									<li><a href="/guidelines">Guidelines</a></li>
									<li><a href="/settings">Settings</a></li>
									<li><a href="{% url 'logout' %}">Signout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

	
	<!-- /features -->
	
		<div class="container-sadi">
			{% block content %}
			{% endblock %}
		</div>
	

	<footer>
        <div id="footerpadding">
		<div class="container margin_120_95">
			<div class="row">
				<div class="col-lg-5 col-md-12 p-r-5">
					<p><img id= "footimg" src="{% static 'img/academicsfooter.png' %}" width="149" height="42" alt=""></p>
					<p>An  online learning platform with uncompromised security system named “Acad-Emics” is a healthy and user-friendly educational website designed for any educational institute for e-learning.</p>
					
				</div>
				<div class="col-lg-3 col-md-6 ml-lg-auto">
					<h5>Useful links</h5>
					<ul class="links">
						<li><a href="notice">Notice</a></li>
						<li><a href="blogs_and_articles">Blogs and Articles</a></li>
						<li><a href="news_and_announcements">News and Announcements</a></li>
						<li><a href="\about">About</a></li>
						<li><a href="uni-partner">Uni Partner</a></li>
						<li><a href="\guidelines">Guidelines</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6">
					<h5>Address</h5>
					<ul class="contacts">
						<li><a href="https://www.google.com/maps/place/Softwarica+College/@27.7049919,85.3281705,18z/data=!4m8!1m2!2m1!1sdillibazar!3m4!1s0x39eb19a0a7230f43:0x18e4d56d8c3ab0a9!8m2!3d27.7052356!4d85.3294158"><i class="ti-location-pin"></i>Dillibazar, Kathmandu, Nepal </a></li>
						<li><a href="tel://61280932400"><i class="ti-mobile"></i>+977-1-4441577, 4425661</a></li>
						<li>Softwarica College of IT & E-commerce</li>
						
					</ul>
					<div class="follow_us">
						<ul>
							
							<li><a href="//www.facebook.com"><i class="ti-facebook"></i></a></li>
							<li><a href="//www.twitter.com"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="//www.google.com"><i class="ti-google"></i></a></li>
							<li><a href="//www.pinterest.com"><i class="ti-pinterest"></i></a></li>
							<li><a href="//www.instagram.com"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--/row-->
			
			
        </div>
    	</div>
	</footer>
	<!--/footer-->
	
	
    
	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'assets/validate.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
	
</body>
</html>
