{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="banner" style="
    bottom: 020px;
">
        <img src="/static/img/banner.jpg" alt="Banner Image">
    </div>

    <div class="container course-tab">
        <div class="course-tab-wrp text-center">
            <h3>BSc Hons in Ethical Hacking and Cybersecurity</h3>
            <ul>
                <li>7 Modules</li>
                <li>360 Credits</li>
            </ul>
        </div>

        <div class="page-title">
            <h2 class="abc" style="text-align: center;">Course Contents</h2>
        </div>

        <div class="row course-list">

            <div class="single-course">
                <div class="sc-wrp">
                    <div class="sc-img">
                        <img src="/static/img/course.jpg" alt="">
                        <span class="c-year">Year 2</span>
                    </div>
                    <div class="sc-title">
                        <span>STW206CDE</span>
                        <h3>Real World Project</h3>
                    </div>
                    <div class="sc-button">
                        <a href="/mycourses/STW206CDE" class="btns">Go to module</a>
                    </div>
                </div>
            </div>

            <div class="single-course">
                <div class="sc-wrp">
                    <div class="sc-img">
                        <img src="/static/img/course.jpg" alt="">
                        <span class="c-year">Year 2</span>
                    </div>
                    <div class="sc-title">
                        <span>STW207SE</span>
                        <h3>OS, Security and Network</h3>
                    </div>
                    <div class="sc-button">
                        <a href="/mycourses/STW207SE" class="btns">Go to module</a>
                    </div>
                </div>
            </div>

            <div class="single-course">
                <div class="sc-wrp">
                    <div class="sc-img">
                        <img src="/static/img/course.jpg" alt="">
                        <span class="c-year">Year 2</span>
                    </div>
                    <div class="sc-title">
                        <span>STW245CT</span>
                        <h3>Ethical Hacking I</h3>
                    </div>
                    <div class="sc-button">
                        <a href="/mycourses/STW245CT" class="btns">Go to module</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
	

    
{% endblock %}
