
{% load static %}


    <link rel="stylesheet" href="{% static 'css/guideline.css' %}">

    <nav>

      <ul>
        <li><a href="#intro">Intro</a></li>
        <li>
          <a href="#first">First section</a>
          <ul>
            <li>
              <a href="#second">Second section</a>
              <ul>
                <li>
                  <a href="#third">Third section</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#fourth">Fourth section</a>
          <ul>
            <li><a href="#fifth">Fifth section</a></li>
            <li><a href="#sixth">Sixth section</a></li>
          </ul>
        </li>
        <li><a href="#seventh">Seventh section</a></li>
        <li><a href="#eighth">Eighth section</a></li>
      </ul>
      
      <svg xmlns="http://www.w3.org/2000/svg">
        <path />
      </svg>
      
    </nav>

    <article id="top">
      
      <div class="subheading">Terms and Policies to Remember</div>
      <h1>Guidelines</h1>
      
      <section id="intro">
        <h2>Introduction</h2>
        <p>The guidelines to be followed by the students are mentioned below.</p>
      </section>
      
      <section id="first">
        <h2>First section</h2>
        <p>We are not responsible for the content or any viruses etc. on sites that we may link to.</p>
      
      </section>
      
      <section id="second">
        <h2>Second section</h2>
        <p>We comply with all relevant laws on Privacy and Data Protection. In general, this means that we will only collect or process personal information for specific and lawful purposes, we won’t collect more than we need for those purposes or keep it for longer than necessary, we’ll do our best to keep it accurate, and we’ll keep it as safe as we can.</p>
        
      </section>
      
      <section id="third">
        <h2>Third section</h2>
        <p>You need to match following requirements before you enroll to any of the courses.</p>
        <p>If you disagree with someone's ideas you will discuss their ideas, rather than criticize or attack them personally.</p>
      </section>
      
      <section id="fourth">
        <h2>Fourth section</h2>
        <p>Students are not allowed to share their login information with anyone</p>
        <p>If a student tries to login in an account but fails after multiple attempts, then the account gets locked.</p>
      </section>
      
      <section id="fifth">
        <h2>Fifth section</h2>
        <p>Your activities on an Online Course are shared with the course provider for academic research purposes. This includes the comments you make where you may disclose certain personal information about yourself.</p>
        
      </section>
      
      <section id="sixth">
        <h2>Sixth section</h2>
        <p>Students should be well aware about the plagiarism they might get if they try to cheat or copy from any of their fellow friends for the assignments.</p>
        
      </section>
      
      <section id="seventh">
        <h2>Seventh section</h2>
        <p>You are supportive and constructive when offering feedback to other learners in activities such as Peer Review and discussions.</p>
        
      </section>
      
      <section id="eighth">
        <h2>Eighth section</h2>
        <p>You are here to learn, not to advertise products or services, and you will not use Acad-E-mics as a platform for campaigning.</p>
        
      </section>
      
    </article>

    <script src="{% static 'js/guideline.js' %}"script>
    

