{% extends 'base.html'%}
{% block content %}
<div class="col-md-12">
    <div class="card card-body">
        <h1 style="padding-bottom: 50px; text-align: center;
        ">Change your password</h1>

        {% csrf_token %}
        <div class="form-2line" style="padding-bottom: 25px;">            
            <input type="password" name= "old_password" class="form-control" placeholder="Old Password">
        </div>
        <div class="form-2line" style="padding-bottom: 25px;">
            <input type="password" name= "new_password1" class="form-control" placeholder="New Password">
        </div>

            
        <div class="form-2line" style="padding-bottom: 25px;">
            <input type="password" name= "new_password2" class="form-control" placeholder="Confirm Password">
        </div>
            

            {%for field in form %}
                {% for error in field.errors %}
                    <p style="color:red">error</p>
                {% endfor %}
            {% endfor %}
        
            <button type="submit" style="
            width: 54px;  text-align: center;
        "> Reset </button>
    </div>
    
</div>
{% endblock %}