{% extends 'base.html'%}
{% block content %}
<h1>Change your password</h1>
<div class="col-12 form-input">
    <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" name= "old_password" class="form-control" placeholder="Old Password">
            <input type="password" name= "new_password1" class="form-control" placeholder="New Password">
            <input type="password" name= "new_password2" class="form-control" placeholder="Confirm Password">

            {%for field in form %}
                {% for error in field.errors %}
                    <p style="color:red">error</p>
                {% endfor %}
            {% endfor %}
        
            <button type="submit"> Reset </button>
        </div>
    </form>
</div>
{% endblock %}