{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="supp">    
    {% csrf_token %}
    <div class="card card-body">
        <h3 class="heading">Submit a ticket</h3>
    </div>
    <div class="card card-body">
        <form method="POST" action="" enctype="multipart/form-data">

            <h5>Reason for request</h5>
            <input type="text" name="title">

            <h5>Request</h5>
            <textarea name="your-request" cols="40" rows="10" placeholder="Your Request"></textarea>
            
            <h5>Priority</h5>
            <select class="  dropdown" id="helpdesk_ticket_priority" name="helpdesk_ticket[priority]" aria-invalid="false"><option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
                <option value="4">Urgent</option></select>
            <button type="submit" class="btn btn-success" value="Submit">Submit</button>
        </form>
    </div>
</div>

{% endblock %}