{% extends 'base.html' %}
{% load static %}
{% block content %}    
<style>
    .rows{
		max-width: 1500px;
		max-height:2100px;
		margin: 20 auto;
		border-radius: 50%;
        margin-left: 300px;
		padding-bottom: 50px;
    }
</style>
<body>
<div><h3 id="add" style=" padding-left: 320px;">Add Request</h3>
        

    </div>
    <div class="col-md-9">
        <div class="card card-body">
            
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-2line">
                    {{form.as_p}}
                </div>
            <input class="btn btn-primary" type="submit" name="Update Information">
            </form>
        </div>
    </div>

</body>    

    
    
    
{% endblock %}
    
